cachetools==2.1.0
certifi==2018.4.16
chardet==3.0.4
click==6.7
dictdiffer==0.7.1
Flask==1.0.2
Flask-Cors==3.0.4
Flask-SQLAlchemy==2.3.2
google-auth==1.4.2
gunicorn==19.8.1
idna==2.6
ipaddress==1.0.22
itsdangerous==0.24
Jinja2==2.10
kubernetes==6.0.0
MarkupSafe==1.0
oauthlib==2.1.0
openshift==0.6.0
pyasn1==0.4.3
pyasn1-modules==0.2.1
pystache==0.5.4
python-dateutil==2.7.3
python-string-utils==0.6.0
PyYAML==3.12
requests==2.18.4
requests-oauthlib==0.8.0
rsa==3.4.2
ruamel.yaml==0.15.61
six==1.11.0
SQLAlchemy==1.2.11
urllib3==1.22
websocket-client==0.48.0
Werkzeug==0.15.3
python-keystoneclient
python-swiftclient