{
    "apiVersion":"v1",
    "kind":"PersistentVolumeClaim",
    "metadata":{
        "name":"chamberlain-db"
    },
    "spec":{
        "accessModes":[
            "ReadWriteMany"
        ],
        "resources":{
            "requests":{
                "storage":"2Gi"
            }
        },
        "volumeName":"chamberlain-db"
    }
}