{
    "apiVersion":"v1",
    "kind":"PersistentVolumeClaim",
    "metadata":{
        "labels":{
            "app":"conclave-web"
        },
        "name":"conclave-web-db"
    },
    "spec":{
        "accessModes":[
            "ReadWriteMany"
        ],
        "resources":{
            "requests":{
                "storage":"1Gi"
            }
        },
        "volumeName":"conclave-web-db"
    }
}