{
    "apiVersion": "v1",
    "kind": "ConfigMap",
    "metadata":
    {
        "labels":{
            "app":"chamberlain"
        },
        "name": "dv-auth",
        "namespace": "{{{NAMESPACE}}}"
    },
    "data":
    {
        "host": "{{{HOST}}}",
        "token": "{{{TOKEN}}}"
    }
}