{
    "apiVersion": "v1",
    "kind": "ConfigMap",
    "metadata":
    {
        "name": "dv-cfg",
        "namespace": "{{{NAMESPACE}}}"
    },
    "data":
    {
        "host": "{{{HOST}}}",
        "token": "{{{TOKEN}}}"
    }
}