{
    "apiVersion":"route.openshift.io/v1",
    "kind":"Route",
    "metadata":{
        "labels":{
            "app":"conclave-web"
            },
        "annotations":{
            "openshift.io/host.generated":"true"
        },
        "name":"conclave-web"
    },
    "spec":{
        "port":{
            "targetPort":"8080-tcp"
        },
        "to":{
            "kind":"Service",
            "name":"conclave-web",
            "weight":100
        }
    }
}