{
    "apiVersion":"v1",
    "kind":"Service",
    "metadata":{
        "labels":{
            "app":"conclave-web"
        },
        "name":"conclave-web"
    },
    "spec":{
        "ports":[
            {
                "name":"8080-tcp",
                "port":8080,
                "protocol":"TCP",
                "targetPort":8080
            }
        ],
        "selector":{
            "app":"conclave-web",
            "deploymentconfig":"conclave-web"
        },
        "sessionAffinity":"None",
        "type":"ClusterIP"
    }
}