# GENERAL
pid: {{{PID}}}
all_pids: [{{{ALL_PIDS}}}]
workflow_name: {{{WORKFLOW_NAME}}}
use_swift: true

input_path: /app/input_data/
output_path: /app/input_data/
code_path: /app/code/

# SPARK
spark:
  master_url: <ip>:<port>

# OBLIV-C
oblivc:
  oc_path: /app/obliv-c/bin/oblivcc
  ip_port: <str>:<str>

# JIFF
jiff:
  jiff_path: /app/jiff/
  party_count: {{{PARTY_COUNT}}}
  server_ip: {{{SERVER_SERVICE}}}
  server_port: 9000

# NET
net:
  parties:
{{{NET_CONFIG}}}

# SWIFT [TODO]
swift:
  source:
    AUTHORIZATION:
      osAuthUrl: {{{OS_AUTH}}}
      username: {{{USERNAME}}}
      password: {{{PASSWORD}}}
    PROJECT:
      osProjectDomain: {{{PROJ_DOMAIN}}}
      osProjectName: {{{PROJ_NAME}}}
    DATA:
      container_name: {{{CONTAINER_NAME}}}
      files:
{{{IN_FILES}}}
  dest:
    AUTHORIZATION:
      osAuthUrl: {{{OS_AUTH}}}
      username: {{{USERNAME}}}
      password: {{{PASSWORD}}}
    PROJECT:
      osProjectDomain: {{{PROJ_DOMAIN}}}
      osProjectName: {{{PROJ_NAME}}}
    DATA:
      container_name: {{{CONTAINER_NAME}}}
