# GENERAL
pid: {{{PID}}}
all_pids: [{{{ALL_PIDS}}}]
workflow_name: {{{WORKFLOW_NAME}}}
use_swift: true

input_path: /app/input_data/
output_path: /app/output_data/
code_path: /app/code/

# SPARK
spark:
  master_url: <ip>:<port>

# OBLIV-C
oblivc:
  oc_path: /app/obliv-c/bin/oblivcc
  ip_port: <str>:<str>

# JIFF
jiff:
  jiff_path: /app/jiff/
  party_count: <int>
  server_pid: 1
  server_ip: <str>
  server_port: <int>

# NET
net:
  parties:
{{{NET_CONFIG}}}

# SWIFT [TODO]
swift:
  source:
    AUTHORIZATION:
      osAuthUrl: <str>
      username: <str>
      password: <str>
    PROJECT:
      osProjectDomain: <str>
      osProjectName: <str>
    DATA:
      container_name: <str>
      files: <list>
  dest:
    AUTHORIZATION:
      osAuthUrl: <str>
      username: <str>
      password: <str>
    PROJECT:
      osProjectDomain: <str>
      osProjectName: <str>
    DATA:
      container_name: <str>
      files: <list>