{
    "apiVersion": "v1",
    "kind": "ConfigMap",
    "metadata":
    {
        "name": "{{{NAME}}}",
        "namespace": "{{{NAMESPACE}}}"
    },
    "data":
    {
        "protocol_encoded": "{{{PROTOCOL}}}",
        "conf_encoded": "{{{CONF}}}"
    }
}