{
	"user_config":
	{
		"pid": {{{PID}}},
		"all_pids": {{{ALL_PIDS}}},
		"leaky_ops": 0,
		"workflow_name": "{{{WORKFLOW_NAME}}}",
		"use_floats": 1,
		"paths":
		{
			"input_path": "/data/",
			"output_path": "/data/",
			"code_path": "/app/code"
		}
	},
	"net":
	{
		"parties": {{{NET_CONFIG}}}
	},
	"backends":
	{
		"spark":
		{
			"available": {{{SPARK_AVAIL}}},
			"master_url": "{{{SPARK_IP_PORT}}}"
		},
		"oblivc":
		{
			"available": {{{OC_AVAIL}}},
			"oc_path": "/app/obliv-c/bin/oblivcc",
			"ip_port": "{{{OC_IP_PORT}}}"
		},
		"jiff":
		{
			"available": {{{JIFF_AVAIL}}},
			"jiff_path": "/app/jiff/",
			"party_count": "{{{PARTY_COUNT}}}",
			"server_ip": "{{{SERVER_SERVICE}}}",
			"server_pid": 0,
			"server_port": 9000
		}
	}
}