{
    "apiVersion": "v1",
    "kind": "ConfigMap",
    "metadata":
    {
        "name": "{{{NAME}}}",
        "namespace": "{{{NAMESPACE}}}",
        "labels":
        {
            "app": "conclave-web"
        }
    },
    "data":
    {
        "protocol_encoded": "{{{PROTOCOL_MAIN}}}",
        "protocol_policy_encoded": "{{{PROTOCOL_POLICY}}}",
        "conf_encoded": "{{{CC-CONF}}}",
        "in_conf_encoded": "{{{IN-CONF}}}",
        "out_conf_encoded": "{{{OUT-CONF}}}"
    }
}