{
    "source":
    {
        "name": "dataverse",
        "pid": {{{PID}}},
        "source":
        {
            "alias": "{{{SOURCE_ALIAS}}}",
            "doi": "{{{SOURCE_DOI}}}",
            "files": "{{{DV_FILE}}}"
        },
        "dest":
        {
            "project":
            {
                "osProjectDomain": "default",
                "osProjectName": "ccs-musketeer-demo"
            },
            "data":
            {
                "container_name": "{{{DEST_CONTAINER_NAME}}}"
            }
        }
    }
}