{
    "source":
    {
        "name": "{{{OBJ_STORE_NAME}}}",
        "source":
        {
            "alias": "{{{SOURCE_ALIAS}}}",
            "doi": "{{{SOURCE_DOI}}}",
            "files": "{{{DV_FILE}}}"
        },
        "dest":
        {
            "author": "{{{OUTPUT_AUTHOR}}}",
            "alias": "{{{DEST_ALIAS}}}"
        }
    }
}