{
    "apiVersion": "v1",
    "kind": "Pod",
    "metadata":
    {
        "name": "{{{POD_NAME}}}",
        "labels":
        {
            "app": "{{{POD_NAME}}}"
        }
    },
    "spec":
    {
        "selector":
        {
            "app": "{{{POD_NAME}}}"
        },
        "restartPolicy": "Always",
        "containers":
        [
            {
                "name": "{{{POD_NAME}}}",
                "image": "docker.io/bengetch/jiff_server:latest",
                "ports":
                [
                    {
                        "containerPort": 9000
                    }
                ],
                "imagePullPolicy": "Always",
                "env":
                [
                    {
                        "name": "KUBECFG_PATH",
                        "value": "/tmp/.kube/config"
                    },
                    {
                        "name": "OPENSHIFTMGR_PROJECT",
                        "value": "{{{NAMESPACE}}}"
                    }
                ]
            }
        ]
    }
}