{
    "apiVersion": "v1",
    "kind": "Pod",
    "metadata":
    {
        "name": "{{{POD_NAME}}}",
        "labels":
        {
            "app": "{{{POD_NAME}}}",
            "job_id": "{{{COMPUTE_ID}}}"
        }
    },
    "spec":
    {
        "selector":
        {
            "app": "{{{POD_NAME}}}"
        },
        "restartPolicy": "Never",
        "containers":
        [
            {
                "name": "{{{POD_NAME}}}",
                "image": "{{{IMAGE}}}",
                "ports":
                [
                    {
                        "containerPort": 5000,
                        "protocol": "TCP"
                    },
                    {
                        "containerPort": 5001,
                        "protocol": "TCP"
                    }
                ],
                "imagePullPolicy": "Always",
                "env":
                [
                    {
                        "name": "KUBECFG_PATH",
                        "value": "/tmp/.kube/config"
                    },
                    {
                        "name": "OPENSHIFTMGR_PROJECT",
                        "value": "{{{NAMESPACE}}}"
                    }
                ],
                "command":
                [
                    "./run.sh"
                ],
                "volumeMounts":
                [
                    {
                        "name": "data-volume",
                        "mountPath": "/data"
                    }
                ]
            }
        ],
        "initContainers":
        [
            {
                "name": "init-{{{POD_NAME}}}",
                "image": "docker.io/bengetch/config_setup:latest",
                "imagePullPolicy": "Always",
                "command":
                [
                    "./run.sh"
                ],
                "volumeMounts":
                [
                    {
                        "name": "cc-config-volume",
                        "mountPath": "/etc/workflow"
                    },
                    {
                        "name": "swift-auth",
                        "mountPath": "/etc/swift-auth"
                    },
                    {
                        "name": "data-volume",
                        "mountPath": "/data"
                    }
                ],
                "env":
                [
                    {
                        "name": "KUBECFG_PATH",
                        "value": "/tmp/.kube/config"
                    },
                    {
                        "name": "OPENSHIFTMGR_PROJECT",
                        "value": "{{{NAMESPACE}}}"
                    }
                ]
            }
        ],
        "volumes":
        [
            {
                "name": "cc-config-volume",
                "configMap":
                {
                    "name": "{{{CONFIGMAP_NAME}}}",
                    "items":
                    [
                        {
                            "key": "protocol_encoded",
                            "path": "protocol"
                        },
                        {
                            "key": "conf_encoded",
                            "path": "conf"
                        }
                    ]
                }
            },
            {
                "name": "swift-auth",
                "configMap":
                {
                    "name": "swift-auth",
                    "items":
                    [
                        {
                            "key": "osAuthUrl",
                            "path": "auth_url"
                        },
                        {
                            "key": "username",
                            "path": "username"
                        },
                        {
                            "key": "password",
                            "path": "password"
                        }
                    ]
                }
            },
            {
                "name": "data-volume",
                "emptyDir": {}
            }
        ]
    }
}