import sys
sys.path.append("/app/conclave/")

import conclave.lang as cc
from conclave.utils import *
from conclave import workflow

def protocol():

{{{PROTOCOL}}}

if __name__ == "__main__":
    workflow.run(protocol, mpc_framework="{{{MPC_FRAMEWORK}}}", apply_optimisations=True)