import sys
sys.path.append("/app/policy_engine/")
sys.path.append("/app/conclave/"

import conclave.lang as cc
from conclave.utils import *
import policy_engine.verify as policy

def protocol():

{{{PROTOCOL}}}

if __name__ == "__main__":

    verifier = policy.Verify(protocol, {{{POLICY}}}, {{{PID}}})
    verifier.verify()
