import sys
import json
sys.path.append("/app/policy_engine/")
sys.path.append("/app/conclave/")

import conclave.lang as cc
from conclave.utils import *
from policy_engine.verify import Verify

def protocol():

{{{PROTOCOL}}}

if __name__ == "__main__":

    print("\nRUNNING POLICY ENGINE\n")

    with open(sys.argv[1], 'r') as c:
        c = json.load(c)
    with open(sys.argv[2], 'r') as p:
        policy = json.load(p)

    verifier = Verify(protocol, policy, c)
    v = verifier.verify()

    if v:
        print("Success")
