{
    "apiVersion":"v1",
    "kind":"Route",
    "metadata":{
        "labels":{
            "job_id": "{{{COMPUTE_ID}}}"
            },
        "annotations":{
            "openshift.io/host.generated":"true"
        },
        "name":"{{{ROUTE_NAME}}}"
    },
    "spec":{
        "to":{
            "kind":"Service",
            "name":"{{{SERVICE_NAME}}}",
            "weight":100
        }
    }
}