{
    "apiVersion":"extensions/v1beta1",
    "kind":"Ingress",
    "metadata":
    {
        "name": "{{{ROUTE_NAME}}}",
        "labels":
        {
            "job_id": "{{{COMPUTE_ID}}}"
        }
    },
    "spec":
    {
        "rules":
        [
            {
                "http":
                {
                    "paths":
                    [
                        {
                            "backend":
                            {
                                "serviceName": "{{{SERVICE_NAME}}}",
                                "servicePort": 5000
                            }
                        }
                    ]
                }
            },
            {
                "http":
                {
                    "paths":
                    [
                        {
                            "backend":
                            {
                                "serviceName": "{{{OC_SERVICE_NAME}}}",
                                "servicePort": 5001
                            }
                        }
                    ]
                }
            }
        ]
    }
}