{
    "apiVersion": "v1",
    "kind": "Service",
    "metadata":
    {
        "name": "{{{SERVICE_NAME}}}",
        "labels":
        {
            "job_id": "{{{COMPUTE_ID}}}"
        }
    },
    "spec":
    {
        "selector":
        {
            "app": "{{{APP_NAME}}}"
        },
        "type": "ClusterIP",
        "sessionAffinity": "None",
        "ports":
        [
            {
                "name": "8080-tcp",
                "protocol": "TCP",
                "port": 8080,
                "targetPort": 8080
            }
        ]
    }
}