{
    "apiVersion": "v1",
    "kind": "Service",
    "metadata":
    {
        "name": "{{{SERVICE_NAME}}}",
        "labels":
        {
            "job_id": "{{{COMPUTE_ID}}}"
        }
    },
    "spec":
    {
        "selector":
        {
            "app": "{{{APP_NAME}}}"
        },
        "type": "ClusterIP",
        "sessionAffinity": "None",
        "ports":
        [
            {
                "name": "{{{PORT}}}-tcp",
                "protocol": "TCP",
                "port": {{{PORT}}},
                "targetPort": {{{PORT}}}
            },
            {
                "name": "5001-tcp",
                "protocol": "TCP",
                "port": 5001,
                targetPort: 5001
            }
        ]
    }
}