{
    "source":
    {
        "name": "swift",
        "project":
        {
            "osProjectDomain": "default",
            "osProjectName": "{{{PROJ_NAME}}}"
        },
        "data":
        {
            "container_name": "{{{SOURCE_CONTAINER_NAME}}}",
            "file_name": "{{{FILENAME}}}"
        },
        "auth":
        {
            "osAuthUrl": "",
            "username": "",
            "password": ""
        }
    }
}