{
    "dest":
    {
        "name": "swift",
        "pid": {{{PID}}},
        "project":
        {
            "osProjectDomain": "{{{PROJ_DOMAIN}}}",
            "osProjectName": "{{{PROJ_NAME}}}"
        },
        "data":
        {
            "container_name": "{{{DEST_CONTAINER_NAME}}}"
        },
        "auth":
        {
            "osAuthUrl": "{{{AUTH_URL}}}",
            "username": "{{{USER_NAME}}}",
            "password": "{{{PASS}}}"
        }
    }
}