{
    "source":
    {
        "name": "swift",
        "source":
        {
            "project":
            {
                "osProjectDomain": "default",
                "osProjectName": "{{{PROJ_NAME}}}"
            },
            "data":
            {
                "container_name": "{{{SOURCE_CONTAINER_NAME}}}",
                "files": {{{SWIFT_FILES}}},
                "filename": "{{{FILENAME}}}"
            }
        },
        "dest":
        {
            "project":
            {
                "osProjectDomain": "default",
                "osProjectName": "ccs-musketeer-demo"
            },
            "data":
            {
                "container_name": "{{{DEST_CONTAINER_NAME}}}"
            }
        }
    }
}