{
	"protocol":
	{
		"data": "{{{PROTOCOL}}}",
		"format": "b64"
	},
	"config":
	{
		"ID": "{{{COMPUTE_ID}}}",
		"backend": "swift"
	},
	"swift":
	{
		"endpoints":
		[
			{
                "partyId": "mine",
                "containerName": "{{{CONTAINER_ONE}}}",
                "fileName": "in1",
                "files": []
            },
			{
                "partyId": "mine",
                "containerName": "{{{CONTAINER_TWO}}}",
                "fileName": "in2",
                "files": []
            }
		]
	}
}